In [2]:
import pandas as pd

In [5]:
# 2 main datatypes: Series = 1-dimentional & DataFrame = 2-dimensional

# Series
car_brands = pd.Series(["BMW", "Toyota", "Honda"])

In [6]:
car_brands

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
colors = pd.Series(["Red", "Blue", "White"])

In [9]:
colors

0      Red
1     Blue
2    White
dtype: object

In [12]:
# DataFrames - more common than the Series

car_data = pd.DataFrame({"Car make": car_brands, "Color": colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White